.comment-section {
    margin: 1rem 0;
    padding: 0.5rem 0;
    border-top: 1px solid var(--separator-border);
}

.comment-section-heading {
    font-size: var(--fs-xl);
    font-weight: 500;
    margin-bottom: 1rem;
}

.all-article-comments {
    display: flex;
    flex-direction: column;

    margin-bottom: 1rem;
}

.all-article-comments > * {
    border-bottom: 1px solid var(--separator-border);
}

.all-article-comments > * {
    padding: 1rem 0;
}

.comment-cont {
    display: flex;
    flex-direction: column;
}

.comment-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.comment-heading > .comment-author {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    max-width: 20ch;
    word-wrap: break-word;
    overflow: hidden;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;

    font-weight: 500;
    font-size: var(--fs-sm);
}

.comment-heading > .comment-author > .personal-comment-indicator {
    color: var(--primary-color);
}

.comment-heading > .comment-date {
    font-size: var(--fs-sm);
    color: var(--dark-subtext);
}

.comment-content {
    font-size: var(--fs-sm);
    word-wrap: break-word;
}

.edit-comment-form > .form-row > label {
    font-size: var(--fs-sm);
}

.edit-comment-form > .form-row > textarea {
    font-size: var(--fs-sm);
}

.comment-actions,
.edit-comment-actions {
    margin-top: 0.25rem;
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    max-width: max-content;
}

.comment-actions button,
.edit-comment-actions button {
    padding: 0.15rem 0.4rem;

    border-radius: 0.35rem;
    border: 1px solid transparent;
    outline: none;

    background-color: transparent;
    font-weight: 500;

    cursor: pointer;

    font-size: var(--fs-sm);
    height: calc(1lh + 0.15rem * 2);

    transition: 0.2s ease-in-out;
}

.comment-actions button:disabled,
.edit-comment-actions button:disabled {
    opacity: 0.75;
    cursor: not-allowed;
}

.comment-actions .edit-comment-button,
.edit-comment-actions .send-edit {
    color: var(--primary-color)
}

.comment-actions .edit-comment-button:hover,
.comment-actions .edit-comment-button:focus,
.edit-comment-actions .send-edit:hover,
.edit-comment-actions .send-edit:focus {
    border: 1px solid var(--primary-color)
}

.comment-actions .delete-comment-button {
    color: var(--error-text)
}

.comment-actions .delete-comment-button:hover,
.comment-actions .delete-comment-button:focus {
    border: 1px solid var(--error-text)
}

.edit-comment-actions .cancel-edit {
    color: var(--dark-subtext);
}

.edit-comment-actions .cancel-edit:hover,
.edit-comment-actions .cancel-edit:focus {
    border: 1px solid var(--dark-subtext);
}

.no-comments-notice {
    color: var(--dark-subtext);
    font-size: var(--fs-sm);
}

.comment-login-notice > h3,
.comment-login-notice > a {
    font-weight: 400;
    font-size: var(--fs-sm);
    color: var(--darker-subtext);
}

.comment-login-notice > a:hover {
    text-decoration: none;
    color: var(--dark-text);
}

.comment-cont textarea,
.add-comment-form .form-row > textarea {
    min-height: 6lh;
}

.comment-cont textarea {
    field-sizing: content;
}

.add-comment-form button {
    margin-top: 1rem;
    margin-left: auto;

    padding: 0.35rem 0.85rem;

    border-radius: 0.35rem;
    border: none;
    outline: 2px solid transparent;
    outline-offset: 2px;

    background-color: var(--accent-color);
    color: var(--light-text);
    font-weight: 500;

    cursor: pointer;

    display: grid;
    place-items: center;

    font-size: var(--fs-base);

    height: calc(1lh + 0.35rem * 2);

    transition: 0.2s ease-in-out;
}

.add-comment-form button:hover {
    background-color: var(--hover-accent-lighter);
}

.add-comment-form button:focus {
    outline: 2px solid var(--dark-text);
}

@media (min-width: 40rem) {
    .comment-heading > .comment-author {
        max-width: 45ch;
    }

    .comment-cont textarea,
    .add-comment-form .form-row > textarea {
        min-height: 4lh;
    }
}

@media (min-width: 48rem) {
    .comment-cont textarea,
    .add-comment-form .form-row > textarea {
        min-height: 3lh;
    }
}
