.all-articles-header {
    width: 100%;
    max-width: 30rem;

    margin-bottom: 1.5rem;
}

.header-text {
    display: flex;
    flex-direction: column;
}

.header-text > h1 {
    font-weight: 500;
    font-size: var(--fs-lg);
}

.header-text > h2 {
    font-size: var(--fs-sm);
    font-weight: 400;
}

@media (min-width: 40rem) {
    .all-articles-header {
        max-width: 35rem;
    }
}

@media (min-width: 48rem) {
    .all-articles-header {
        max-width: 45rem;
    }
}

@media (min-width: 64rem) {
    .all-articles-header {
        max-width: 50rem;
    }
}

@media (min-width: 80rem) {
    .all-articles-header {
        max-width: 64rem;
    }
}