.article-card {
    padding: 0.5rem 0.75rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.article-card > .card-title {
    cursor: pointer;
    font-size: var(--fs-md);
    transition: 0.2s ease-in-out;
}

.article-card > .card-title:hover {
    color: var(--primary-color);
}

.article-card > .card-misc {
    font-size: var(--fs-sm);
    color: var(--dark-subtext);
}