.home-main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
    flex-grow: 1;
    width: 100%;
    max-width: 30rem;
}

.main-header {
    padding: 0.5rem 0.75rem;
    font-size: var(--fs-md);
}

.featured-articles {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.featured-articles > *:not(:last-child) > .section-divider {
    margin-top: 1rem;
    border-bottom: 1px solid var(--separator-border);
}

.view-all-articles {
    margin-top: 0.5rem;
    margin-right: 0.75rem;
    font-weight: 500;
    align-self: flex-end;
    text-decoration: none;
    color: var(--dark-text);

    display: flex;
    align-items: center;
    gap: 0.25rem;

    position: relative;
}

.view-all-articles::before {
    content: '';
    position: absolute;
    bottom: 1px;
    width: 100%;
    height: 0.1rem;
    background-color: var(--dark-text);
}

.view-all-articles > img {
    width: 20px;
    height: 20px;
}

.view-all-articles:hover > img {
    animation: 0.6s cubic-bezier(1,.28,.56,.89) infinite alternate move-arrow;
}

@keyframes move-arrow {
    from {
        transform: translateX(0rem);
    }
    to {
        transform: translateX(0.35rem);
    }
}

@media (min-width: 40rem) {
    .home-main {
        max-width: 35rem;
    }
}

@media (min-width: 48rem) {
    .home-main {
        max-width: 45rem;
    }
}

@media (min-width: 64rem) {
    .home-main {
        max-width: 50rem;
    }
}

@media (min-width: 80rem) {
    .home-main {
        max-width: 64rem;
    }
}
