@font-face {
    font-family: SourceSerif4;
    src: url(./assets//fonts//SourceSerif4-VariableFont.ttf);
}

@font-face {
    font-family: SourceSerif4;
    src: url(./assets//fonts//SourceSerif4-Italic-VariableFont.ttf);
    font-style: italic;
}

:root {
    --font-stack:
        system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    --fs-sm: clamp(0.8rem, 0.15vi + 0.77rem, 0.89rem);
    --fs-base: clamp(1rem, 0.31vi + 0.94rem, 1.19rem);
    --fs-md: clamp(1.25rem, 0.55vi + 1.14rem, 1.58rem);
    --fs-lg: clamp(1.56rem, 0.91vi + 1.38rem, 2.11rem);
    --fs-xl: clamp(1.95rem, 1.43vi + 1.67rem, 2.81rem);
    --fs-xxl: clamp(2.44rem, 2.18vi + 2.01rem, 3.75rem);
    --fs-xxxl: clamp(3.05rem, 3.24vi + 2.4rem, 5rem);

    --dark-text: #0f172a;
    --light-text:  #fbfbfc;
    --dark-subtext: rgb(15 23 42 / 60%);
    --darker-subtext: rgb(15 23 42 / 80%);
    --misc-subtext: #45556c;

    --background-color: #fbfbfc;
    --background-slight-contrast: #ffffff;
    --background-blockquote: #f3f4f6;

    --primary-color: #2563eb;
    --secondary-color: #e8eefc;
    --accent-color: #1e40af;

    --lighter-separator-border: #e1e5ed;
    --separator-border: #d5dae3;
    --darker-separator-border: #bac1cc;
}

body {
    font-family: SourceSerif4, var(--font-stack);

    color: var(--dark-text);
    background-color: var(--background-color);

    min-height: 100svh;

}

#root {
    min-height: 100svh;

    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 0.75rem;
}

#root:has(.fullscreen-loader) {
    display: grid;
    place-items: center;
}

.fullscreen-loader {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 0.5rem;
}

.fullscreen-loader > h1 {
    font-size: var(--fs-xl);
    font-weight: 500;
}

.section-divider {
    border-bottom: 1px solid var(--separator-border);
}

/* Color has to be changed conditionally by relevant stylesheets */
.section-divider.conditional-divider {
    border-bottom: 1px solid transparent;
}