@font-face {
    font-family: SourceSerif4;
    src: url(./assets//fonts//SourceSerif4-VariableFont.ttf);
}

@font-face {
    font-family: SourceSerif4;
    src: url(./assets//fonts//SourceSerif4-Italic-VariableFont.ttf);
    font-style: italic;
}

/* ######################### General Styles ######################### */

:root {
    --font-stack:
        system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    --fs-sm: clamp(0.8rem, 0.15vi + 0.77rem, 0.89rem);
    --fs-base: clamp(1rem, 0.31vi + 0.94rem, 1.19rem);
    --fs-md: clamp(1.25rem, 0.55vi + 1.14rem, 1.58rem);
    --fs-lg: clamp(1.56rem, 0.91vi + 1.38rem, 2.11rem);
    --fs-xl: clamp(1.95rem, 1.43vi + 1.67rem, 2.81rem);
    --fs-xxl: clamp(2.44rem, 2.18vi + 2.01rem, 3.75rem);
    --fs-xxxl: clamp(3.05rem, 3.24vi + 2.4rem, 5rem);

    --dark-text: #0f172a;
    --light-text: #fbfbfc;
    --dark-subtext: rgb(15 23 42 / 60%);
    --darker-subtext: rgb(15 23 42 / 80%);
    --misc-subtext: #45556c;
    --error-text: #991818;

    --background-color: #fbfbfc;
    --background-slight-contrast: #ffffff;
    --background-blockquote: #f3f4f6;
    --background-error: #fef2f2;

    --primary-color: #2563eb;
    --secondary-color: #e8eefc;
    --accent-color: #1e40af;

    --hover-accent-lighter: #274fcc;
    --hover-dark-darker: #070c17;

    --lighter-separator-border: #e1e5ed;
    --separator-border: #d5dae3;
    --darker-separator-border: #bac1cc;
    --error-border: #dc2626;
    --valid-border: #00ba4d;

    --shadow-sm: 0 0 5px 1px rgb(0 0 0 / 0.18), 0 0 2px 0 rgb(0 0 0 / 0.14);
}

body {
    font-family: SourceSerif4, var(--font-stack);

    color: var(--dark-text);
    background-color: var(--background-color);

    min-height: 100svh;
}

#root {
    min-height: 100svh;

    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 0.75rem;
}

#root:has(.fullscreen-loader),
#root:has(.error-404-cont) {
    display: grid;
    place-items: center;
}

.fullscreen-loader {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 0.5rem;
}

.fullscreen-loader > h1 {
    font-size: var(--fs-xl);
    font-weight: 500;
}

.section-divider {
    border-bottom: 1px solid var(--separator-border);
}

/* Color has to be changed conditionally by relevant stylesheets */
.section-divider.conditional-divider {
    border-bottom: 1px solid transparent;
}

/* ######################### General Styles ######################### */

/* ######################### Form Styles ######################### */

.reader-form {
    margin-top: 3rem;

    width: 300px;

    border-radius: 0.35rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow-sm);
}

.form-heading {
    font-weight: 500;
    font-size: var(--fs-lg);
}

.form-level-error {
    font-size: var(--fs-sm);
    text-align: center;
    color: var(--error-text);
    padding: 0.5rem;
    border-radius: 0.35rem;
    background-color: var(--background-error);
    border: 1px solid var(--error-border);
    margin: 1rem 0;
    font-weight: 500;
}

.form-description {
    font-size: var(--fs-sm);
    font-style: italic;
    margin-bottom: 1rem;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-bottom: 1rem;
}

.form-row > label {
    color: var(--dark-text);
    font-weight: 500;
}

.form-row > label:has(.popover-target-button) {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
}

.form-row > input,
.form-row > textarea {
    padding: 0.35rem 0.6rem;
    background-color: transparent;
    caret-color: var(--dark-text);

    outline: none;
    border: 1px solid var(--darker-separator-border);
    border-radius: 0.35rem;

    transition: 0.2s ease-in-out;
}

.form-row > textarea {
    resize: vertical;
    min-width: 100%;
    max-width: 100%;
    min-height: 30vh;
}

.form-row > input:focus,
.form-row > textarea:focus {
    border: 1px solid var(--primary-color);
}

.form-row > input.has-error:focus,
.form-row > textarea.has-error:focus {
    border: 1px solid var(--error-border);
}

.form-row > input.is-valid:focus,
.form-row > textarea.is-valid:focus {
    border: 1px solid var(--valid-border);
}

.input-inline-error {
    font-size: var(--fs-sm);
    color: var(--error-text);
}

.reader-form button {
    margin-top: 1.5rem;

    padding: 0.35rem 0.85rem;

    border-radius: 0.35rem;
    border: none;
    outline: 2px solid transparent;
    outline-offset: 2px;

    background-color: var(--dark-text);
    color: var(--light-text);
    font-weight: 500;
    width: 100%;

    cursor: pointer;

    display: grid;
    place-items: center;

    font-size: var(--fs-base);

    height: calc(1lh + 0.35rem * 2);

    transition: 0.2s ease-in-out;
}

.reader-form button:hover {
    background-color: var(--hover-dark-darker);
}

.reader-form button:focus {
    outline: 2px solid var(--dark-text);
}

@media (min-width: 40rem) {
    .reader-form {
        width: 420px;
    }
}

@media (min-width: 80rem) {
    .reader-form {
        width: 480px;
    }
}

/* ######################### Form Styles ######################### */
